body {
    padding: 15px;
    background-color: #2C1C37;
    color: #EAFF6A;
    
}

.formulario-resultados {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    gap: 20px;
}
.formulario {
    grid-column: 1/2;
    margin-right: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5%;
    padding: 20px;

    .seccion-formulario {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}
.resultados {
    grid-column: 2/3;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5%;
}

